.claude
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/
docs/superpowers/**
dataset/**
.kotlin
gradle/**
gradlew
gradlew.bat
**/*.pyc

### IntelliJ IDEA ###
.idea/**
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
